{% load static %}

<header id="topnav">
    <div class="topbar-main">
        <div class="container">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/" class="logo"><span>Episoze</span></a>
            </div>
            <!-- End Logo container-->

            <div class="menu-extras right-menu">
                <a href="/brand-admin/dashboard">ダッシュボード</a>
                <a href="/brand-admin/profile">プロフィール</a>
                <a href="/brand-admin/logout">ログアウト</a>
            </div>

        </div>
    </div>
</header>