{% extends './base.html' %}
{% load static %}

{% block content %}
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="text-center">
            <a href="index.html" class="logo"><span>Episoze</span></a>
            <h5 class="text-muted m-t-0 font-600">Personal Admin Dashboard</h5>
        </div>
        <div class="m-t-40 card-box">
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">ログイン</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal m-t-20" method="post" action="/brand-admin/login">
                    {% csrf_token %}

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="email_or_username" required="" placeholder="メールアドレスかユーザネーム">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" name="password" required="" placeholder="パスワード">
                        </div>
                    </div>

                    {% if error %}
                        <p class=" label label-danger">
                            {{ error }}
                        </p>
                    {% endif %}

                    <!-- <div class="form-group ">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-custom">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup">
                                    記憶して置く
                                </label>
                            </div>

                        </div>
                    </div> -->

                    <div class="form-group text-center m-t-30">
                        <div class="col-xs-12">
                            <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">ログイン</button>
                        </div>
                    </div>

                    <div class="form-group m-t-30 m-b-0">
                        <!-- <div class="col-sm-12">
                            <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> パウワードをお忘れの方はこちら</a>
                        </div> -->
                    </div>
                </form>

            </div>
        </div>
        <!-- end card-box-->

        <!-- <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">アカウントをまだお持ちでない方は <a href="page-register.html" class="text-primary m-l-5"><b>新規登録</b></a></p>
            </div>
        </div> -->

    </div>
    <!-- end wrapper page -->

    <script>
        var resizefunc = [];
    </script>
{% endblock %}