{% extends './base.html' %}
{% load static %}

{% block header %}
    {% include './header_01.html' %}
{% endblock %}

{% block content %}
    <main class="content ">
        
        <article class="inner">

            <h1 class="inner__headline">CONTACT</h1>

            <div class="inner__content wp__typo inner__center">
                <p>まずはお気軽にお問い合わせください。</p>
                <p></p>
                <p>Episozeは作り手への共感を軸に、</p>
                <p>ブランドのファン醸成を手助けしています。</p>
                <p></p>
                <p>業種問わず様々なブランドを</p>
                <p>携わる作り手の想いと共にご紹介します。</p>
                <p></p>
                <p>下記から広告出稿のご相談・取材依頼・資料請求等、お気軽にお問い合わせください。</p>
                <p>あらためて担当者からご連絡差し上げます。</p>
                <p></p>
                <p>お問い合わせ窓口</p>
                <p><a href="mailto:info@openkidsbase.co.jp">info@openkidsbase.co.jp</a></p>
                <p></p>
                <p>電話でお問い合わせの方</p>
                <p>03-4405-4988</p>
                <p></p>
                <p>個人情報の取り扱いにつきましては</p>
                <p><a href="#">プライバシーポリシー</a>をお読みください。</p>
            </div>

        </article>

    </main>
{% endblock %}