{% load static %}

<header class="header__wrapper">

    <div class="header">

        <div class="nav__mobile-toggle js__mobile-toggle">
            <div class="nav__mobile-toggle_icon"></div>
        </div>

        <a class="header__logo" href="/">
            <img class="header__logo-view" src={% static 'imgs/common/logo.svg' %}/>
        </a>

        <div class="header__right">

            <nav class="nav__wrapper">

                <ul class="nav">
                    <li class="nav__item nav__item_mobile-only"><a class="nav__item_link" href="/">トップ</a>
                    </li>
                    <li class="nav__item {% if request.path == '/episodes/' %} current-menu-item {% endif %}"><a class="nav__item_link" href="/episodes">エピソード一覧</a>
                    </li>
                    <li class="nav__item {% if request.path == '/brands/' %} current-menu-item {% endif %}""><a class="nav__item_link" href={% url 'index_brand' %}>ブランド一覧</a></li>
                    <li class="nav__item"><a class="nav__item_link" href="/">What’s Episoze?</a></li>
                    <li class="nav__item {% if request.path == '/contact/' %} current-menu-item {% endif %} nav__item_mobile-only"><a class="nav__item_link"
                                                                   href="/contact">お問い合わせ</a></li>
                    <li class="nav__item {% if request.path == '/terms/' %} current-menu-item {% endif %} nav__item_mobile-only"><a class="nav__item_link" href="/terms">利用規約</a>
                    </li>
                    <li class="nav__item {% if request.path == '/privacy/' %} current-menu-item {% endif %} nav__item_mobile-only"><a class="nav__item_link" href="/privacy">プライバシーポリシー</a>
                    </li>
                </ul>

            </nav>

            <a href="/search" class="header__search-button {% if request.path == '/search/' %} current-menu-item {% endif %}"></a>

        </div>

    </div>

</header>