{% extends './base.html' %}
{% load static %}

{% block header %}
	{% include './header_01.html' %}
{% endblock %}

{% block content %}
    <main class="content ">
        
        <section class="main-carousel__wrapper">

            <div class="main-carousel js__carousel-main">

                <a href="#" class="main-carousel__item">
                    <figure class="main-carousel__figure">
                        <img src={% static 'imgs/main/1.jpg' %} alt="" class="main-carousel__view">
                    </figure>
                    <div class="main-carousel__desc">
                        <p class="main-carousel__headline_desc">山下 貴嗣　日本酒杜氏 | 東薫酒造</p>
                        <h2 class="main-carousel__headline">岐阜から見る日本の未来、そしてチョコレート。二行目二行目</h2>
                    </div>
                </a>

                <a href="#" class="main-carousel__item">
                    <figure class="main-carousel__figure">
                        <img src={% static 'imgs/main/1.jpg' %} alt="" class="main-carousel__view">
                    </figure>
                    <div class="main-carousel__desc">
                        <p class="main-carousel__headline_desc">山下 貴嗣　日本酒杜氏 | 東薫酒造</p>
                        <h2 class="main-carousel__headline">岐阜から見る日本の未来、そしてチョコレート。二行目二行目</h2>
                    </div>
                </a>

                <a href="#" class="main-carousel__item">
                    <figure class="main-carousel__figure">
                        <img src={% static 'imgs/main/1.jpg' %} alt="" class="main-carousel__view">
                    </figure>
                    <div class="main-carousel__desc">
                        <p class="main-carousel__headline_desc">山下 貴嗣　日本酒杜氏 | 東薫酒造</p>
                        <h2 class="main-carousel__headline">岐阜から見る日本の未来、そしてチョコレート。二行目二行目</h2>
                    </div>
                </a>

                <a href="#" class="main-carousel__item">
                    <figure class="main-carousel__figure">
                        <img src={% static 'imgs/main/1.jpg' %} alt="" class="main-carousel__view">
                    </figure>
                    <div class="main-carousel__desc">
                        <p class="main-carousel__headline_desc">山下 貴嗣　日本酒杜氏 | 東薫酒造</p>
                        <h2 class="main-carousel__headline">岐阜から見る日本の未来、そしてチョコレート。二行目二行目</h2>
                    </div>
                </a>

                <a href="#" class="main-carousel__item">
                    <figure class="main-carousel__figure">
                        <img src={% static 'imgs/main/1.jpg' %} alt="" class="main-carousel__view">
                    </figure>
                    <div class="main-carousel__desc">
                        <p class="main-carousel__headline_desc">山下 貴嗣　日本酒杜氏 | 東薫酒造</p>
                        <h2 class="main-carousel__headline">岐阜から見る日本の未来、そしてチョコレート。二行目二行目</h2>
                    </div>
                </a>

            </div>

        </section>


        <section class="episode-list main__episode-list">

            <div class="espisoze-list__tile tile">

                <a href="" class="episode-list__item tile__item">
                    <figure class="episode-list__figure">
                        <img src="http://placeimg.com/432/264/tech" alt="" class="episode-list__view">
                        <figcaption class="episode-list__figure_desc">
                            <h3 class="episode-list__figure_headline">山下 貴嗣</h3>
                            <p class="episode-list__figure_headline_desc">日本酒杜氏 | 東薫酒造</p>
                        </figcaption>
                    </figure>
                    <article class="episode-list__desc">
                        <h2 class="episode-list__headline">冬の、できたて線香花火が、</h2>
                        <div class="episode-list__info">
                            <p class="episode-list__info_name">very very very very very very very very very very very very very
                                very very very big name</p>
                            <p class="episode-list__info_date">2018/3/14</p>
                        </div>
                    </article>
                </a>

                <a href="" class="episode-list__item tile__item">
                    <figure class="episode-list__figure">
                        <img src="http://placeimg.com/432/264/tech" alt="" class="episode-list__view">
                        <figcaption class="episode-list__figure_desc">
                            <h3 class="episode-list__figure_headline">山下 貴嗣</h3>
                            <p class="episode-list__figure_headline_desc">日本酒杜氏 | 東薫酒造</p>
                        </figcaption>
                    </figure>
                    <article class="episode-list__desc">
                        <h2 class="episode-list__headline">冬の、できたて線香花火が、澄んだ暗闇をやわらかく彩る</h2>
                        <div class="episode-list__info">
                            <p class="episode-list__info_name">Minimal</p>
                            <p class="episode-list__info_date">2018/3/14</p>
                        </div>
                    </article>
                </a>

                <a href="" class="episode-list__item tile__item">
                    <figure class="episode-list__figure">
                        <img src="http://placeimg.com/432/264/tech" alt="" class="episode-list__view">
                        <figcaption class="episode-list__figure_desc">
                            <h3 class="episode-list__figure_headline">山下 貴嗣</h3>
                            <p class="episode-list__figure_headline_desc">日本酒杜氏 | 東薫酒造</p>
                        </figcaption>
                    </figure>
                    <article class="episode-list__desc">
                        <h2 class="episode-list__headline">冬の、できたて線香花火が、澄んだ暗闇をやわらかく彩る 冬の、できたて線香花火が、澄んだ暗闇をやわらかく彩る</h2>
                        <div class="episode-list__info">
                            <p class="episode-list__info_name">Minimal</p>
                            <p class="episode-list__info_date">2018/3/14</p>
                        </div>
                    </article>
                </a>

                <a href="" class="episode-list__item tile__item">
                    <figure class="episode-list__figure">
                        <img src="http://placeimg.com/432/264/tech" alt="" class="episode-list__view">
                        <figcaption class="episode-list__figure_desc">
                            <h3 class="episode-list__figure_headline">山下 貴嗣</h3>
                            <p class="episode-list__figure_headline_desc">日本酒杜氏 | 東薫酒造</p>
                        </figcaption>
                    </figure>
                    <article class="episode-list__desc">
                        <h2 class="episode-list__headline">冬の、できたて線香花火が、澄んだ暗闇をやわらかく彩る</h2>
                        <div class="episode-list__info">
                            <p class="episode-list__info_name">Minimal</p>
                            <p class="episode-list__info_date">2018/3/14</p>
                        </div>
                    </article>
                </a>

                <a href="" class="episode-list__item tile__item">
                    <figure class="episode-list__figure">
                        <img src="http://placeimg.com/432/264/tech" alt="" class="episode-list__view">
                        <figcaption class="episode-list__figure_desc">
                            <h3 class="episode-list__figure_headline">山下 貴嗣</h3>
                            <p class="episode-list__figure_headline_desc">日本酒杜氏 | 東薫酒造</p>
                        </figcaption>
                    </figure>
                    <article class="episode-list__desc">
                        <h2 class="episode-list__headline">冬の、できたて線香花火が、澄んだ暗闇をやわらかく彩る</h2>
                        <div class="episode-list__info">
                            <p class="episode-list__info_name">Minimal</p>
                            <p class="episode-list__info_date">2018/3/14</p>
                        </div>
                    </article>
                </a>

                <a href="" class="episode-list__item tile__item">
                    <figure class="episode-list__figure">
                        <img src="http://placeimg.com/432/264/tech" alt="" class="episode-list__view">
                        <figcaption class="episode-list__figure_desc">
                            <h3 class="episode-list__figure_headline">山下 貴嗣</h3>
                            <p class="episode-list__figure_headline_desc">日本酒杜氏 | 東薫酒造</p>
                        </figcaption>
                    </figure>
                    <article class="episode-list__desc">
                        <h2 class="episode-list__headline">冬の、できたて線香花火が、澄んだ暗闇をやわらかく彩る</h2>
                        <div class="episode-list__info">
                            <p class="episode-list__info_name">Minimal</p>
                            <p class="episode-list__info_date">2018/3/14</p>
                        </div>
                    </article>
                </a>

            </div>

            <div class="button__wrap button__wrap_align-center main__button_episode-list">
                <a href="episode-list.html" class="button button_size-normal">エピソード一覧</a>
            </div>

        </section>

        <section class="brand-list main__brand-list">

            <h3 class="main__brand-list_headline">エピソード掲載ブランド</h3>

            <div class="brand-list__tile tile">

                <a href="#" class="brand-list__item tile__item">
                    <figure class="brand-list__figure">
                        <img src="http://placeimg.com/80/80" alt="" class="brand-list__view">
                    </figure>
                    <div class="brand-list__info">
                        <h4 class="brand-list__brand-name">Minimal</h4>
                        <p class="brand-list__desc">Bean to Bar Chocolate 専門店</p>
                    </div>
                </a>

                <a href="#" class="brand-list__item tile__item">
                    <figure class="brand-list__figure">
                        <img src="http://placeimg.com/80/80" alt="" class="brand-list__view">
                    </figure>
                    <div class="brand-list__info">
                        <h4 class="brand-list__brand-name">Minimal</h4>
                        <p class="brand-list__desc">Bean to Bar Chocolate 専門店</p>
                    </div>
                </a>

                <a href="#" class="brand-list__item tile__item">
                    <figure class="brand-list__figure">
                        <img src={% static 'imgs/brand/brand-logo.png' %} alt="" class="brand-list__view">
                    </figure>
                    <div class="brand-list__info">
                        <h4 class="brand-list__brand-name">Minimal</h4>
                        <p class="brand-list__desc">Bean to Bar Chocolate 専門店</p>
                    </div>
                </a>

                <a href="#" class="brand-list__item tile__item">
                    <figure class="brand-list__figure">
                        <img src="http://placeimg.com/80/80" alt="" class="brand-list__view">
                    </figure>
                    <div class="brand-list__info">
                        <h4 class="brand-list__brand-name">Minimal</h4>
                        <p class="brand-list__desc">Bean to Bar Chocolate 専門店</p>
                    </div>
                </a>

                <a href="#" class="brand-list__item tile__item">
                    <figure class="brand-list__figure">
                        <img src="http://placeimg.com/80/80" alt="" class="brand-list__view">
                    </figure>
                    <div class="brand-list__info">
                        <h4 class="brand-list__brand-name">Minimal</h4>
                        <p class="brand-list__desc">Bean to Bar Chocolate 専門店</p>
                    </div>
                </a>

                <a href="#" class="brand-list__item tile__item">
                    <figure class="brand-list__figure">
                        <img src="http://placeimg.com/80/80" alt="" class="brand-list__view">
                    </figure>
                    <div class="brand-list__info">
                        <h4 class="brand-list__brand-name">Minimal</h4>
                        <p class="brand-list__desc">Bean to Bar Chocolate 専門店</p>
                    </div>
                </a>
            </div>

            <div class="button__wrap button__wrap_align-center main__button_brand-list">
                <a href="brand-list.html" class="button button_size-normal">ブランド一覧</a>
            </div>

        </section>

    </main>
{% endblock %}

{% block footer %}
	{% include './footer_01.html' %}
{% endblock %}