{% extends './base.html' %}
{% load static %}

{% block title %}<title>Episoze | プライバシーポリシー</title>{% endblock %}

{% block header %}
    {% include './header_01.html' %}
{% endblock %}

{% block content %}
    <main class="content ">
        
        <article class="inner">

            <h1 class="inner__headline">プライバシーポリシー</h1>

            <div class="inner__content wp__typo">
                <p>
                    オープンキッズベース株式会社（以下、当社と表現します）は、様々な業務において顧客等より取得する個人情報を適切に管理することは重要な社会的責務であるとの認識のもと、当社の提供するサービス（以下、本サービスと表現します）における、ユーザーについての個人情報を含む利用者情報の取扱いについて、以下のとおりプライパシーポリシー（以下、本ポリシーと表現します）を定めます。</p>
                <p></p>
                <p><strong>1. 個人情報の保護</strong></p>
                <p></p>
                <p>
                    当社は、ご利用者様の個人情報を取り扱う本サイトの運営事業において個人情報を取得、利用及び保存するにあたっては、個人情報保護の取扱いに関する法令、個人情報保護法に基づいて各所管官庁が作成したガイドライン・指針その他の規範を遵守し、適切に取り扱います。</p>
                <p></p>
                <p><strong>2. 個人情報の利用目的について</strong></p>
                <p></p>
                <p>当社は、個人情報を以下の利用目的の達成に必要な範囲内で利用致します。 以下に定めのない目的で個人情報を利用する場合、あらかじめご本人の同意を得た上で行ないます。</p>
                <p></p>
                <p>a.弊社サービス内容のご案内および資料送付</p>
                <p>b.お問い合わせに対する回答</p>
                <p></p>
                <p><strong>3. 個人情報の提供について</strong></p>
                <p></p>
                <p>当社は、以下の場合を除いて、ご利用者様の承諾なく、第三者に対し個人情報を提供することはございません。</p>
                <p></p>
                <p>a.個人情報の保護に関する法律第23条第1項に規定する制限がある場合</p>
                <p>b.ユーザーの利用規約違反行為に対して法的な措置を含む必要な措置をとる場合</p>
                <p>c.法令に基づき、裁判所の令状または警察等の公的機関の有効な命令により開示を求められた場合</p>
                <p>d.当社が利用目的達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</p>
                <p>e.合併その他の事由による事業の継承に伴って個人情報が提供される場合</p>
                <p></p>
                <p><strong>4. 個人情報の取扱の委託について</strong></p>
                <p></p>
                <p>
                    当社は本サイトの運営上、ご利用者様により良いサービスを提供するために業務の一部を外部に委託し、その際、業務委託先に個人情報の処理を委託することがあります。この場合、運営者は、個人情報の委託に係わる必要な契約を締結し、委託先への必要かつ適切な監督を行います。</p>
                <p></p>
                <p><strong>5. 個人情報の変更・削除について</strong></p>
                <p></p>
                <p>当社は、ユーザーの個人情報を許可なく変更いたしません。ユーザーから本サービスのご利用停止をお申出いただいた場合には、
                    それ以降、当該ユーザーの個人情報の利用を停止いたします。ユーザーが個人情報の削除をご希望される場合には、当社所定の手続きに従い当社にご連絡ください。</p>
                <p></p>
                <p><strong>6. 開示対象個人情報の開示等について</strong></p>
                <p></p>
                <p>
                    当社は、ご利用者様から開示等のお申出があった場合、ご利用者様の本人確認をおこなった後、合理的な範囲で開示等をいたします。ただし、他のご利用者様の生命・身体・財産その他の利益を害するおそれのある場合、または運営者の業務遂行に著しく支障をきたすと判断したときは、この限りではありません。また、法令等に定めのある場合は当該法令に基づいて適切な対応をいたします。</p>
                <p></p>
                <p><strong>7. 統計データの利用</strong></p>
                <p></p>
                <p>当社は、取得した個人情報をもとに、個人を識別できないように加工した統計データを作成することがあります。個人を識別できない統計データについては、運営者は何ら制限なく利用することができるものとします。</p>
                <p></p>
                <p><strong>8. 属性情報や行動履歴等の取得・利用</strong></p>
                <p></p>
                <p>
                    当社は、提供しているサービスや広告の内容をよりご利用者様に適したものとするために、以下を例とする特定の個人を識別できない情報を取得し、利用することがあります。また、同様の目的で広告主や情報提供元、サービス提供元などに提供する場合があります。</p>
                <p></p>
                <p>クッキーやアクセスしたURL、コンテンツ、参照順などの行動履歴</p>
                <p>性別、年齢などの属性情報</p>
                <p></p>
                <p><strong>9.改定</strong></p>
                <p></p>
                <p>当社は、プライバシーポリシーの全部または一部を改定することがあります。重要な変更がある場合には、本サイト上でお知らせします。</p>
                <p></p>
                <p>お問い合わせ先 ( info@openkidsbase.co.jp)</p>
            </div>

        </article>

    </main>
{% endblock %}