{% extends './base.html' %}
{% load static %}

{% block title %}<title>Episoze | 利用規約</title>{% endblock %}

{% block header %}
    {% include './header_01.html' %}
{% endblock %}

{% block content %}
	<main class="content ">
        
        <article class="inner">

            <h1 class="inner__headline">Episoze利用規約</h1>

            <div class="inner__content wp__typo">
                <p><strong>1.目的</strong></p>
                <p></p>
                <p>
                    「Episoze利用規約」（以下「本規約」といいます。）は、オープンキッズベース株式会社（以下「当社」といいます。）が提供する電子情報サービス「Episoze」（以下「本サービス」といいます）の利用条件を定めるものです。本サービスは、配信サイト（以下「本サイト」といいます。）を利用することで、当社が提供する記事等の情報（以下「コンテンツ」といいます）を閲覧することが可能です。本規約において、「ユーザー」とは、本サービスの利用者をいい、本サービスを利用し始めた時点から、本規約に同意したものとみなします。</p>
                <p></p>
                <p><strong>2.適用の範囲</strong></p>
                <p></p>
                <p>本規約は、当社が運営する本サービスに適用されるものとします。</p>
                <p></p>
                <p><strong>3.本利用規約の変更</strong></p>
                <p></p>
                <p>当社は、当社が必要と判断する場合、ユーザーへ事前に通知することなく、本規約の変更を行うことができるものとします。</p>
                <p>当社は、変更後の本規約を本サイト上で公開します。ユーザーが本規約の変更後も引き続き本サービスの利用を継続する場合には、公開された時点からユーザーは変更後の利用規約に同意したものとします。</p>
                <p></p>
                <p><strong>4.コンテンツの利用</strong></p>
                <p></p>
                <p>
                    ユーザーは、コンテンツを個人的な利用のみを目的として閲覧するものとし、商業目的等で不特定多数にコンテンツを閲覧させることや、コンテンツを譲渡、複製、貸与、公衆送信などすること、又はこれらの行為を第三者に行わせることはできません。</p>
                <p></p>
                <p><strong>5.著作権等</strong></p>
                <p></p>
                <p>コンテンツに関わる著作権、商標権その他一切の知的財産権及び財産権は、当社又は正当な権利を有する権利者に帰属します。</p>
                <p></p>
                <p><strong>6.本サービスの変更・停止</strong></p>
                <p></p>
                <p>当社は、ユーザーへ事前に通知することなく、本サービスを変更、停止、終了すること、ならびにコンテンツを削除することがあります。</p>
                <p></p>
                <p><strong>7.禁止事項</strong></p>
                <p></p>
                <p>ユーザーは、本サービスの利用にあたり、以下の行為を行ってはならないものとします。</p>
                <p></p>
                <ul>
                    <li>当社または第三者の著作権、その他の知的財産権または財産的利益を侵害する行為、またはそのおそれのある行為</li>
                    <li>法令、公序良俗に反する行為、またはそのおそれのある行為</li>
                    <li>第三者（他のユーザーを含む）に不利益を与える行為、またはそのおそれのある行為</li>
                    <li>本サービスの運用を妨げる行為、またはそのおそれのある行為</li>
                    <li>当社または本サービスの信用を毀損する行為、またはそのおそれのある行為</li>
                    <li>その他、当社が不適切と判断する行為</li>
                </ul>
                <p></p>
                <p><strong>8.免責</strong></p>
                <p></p>
                <p>本サービスは、ユーザーが自身の判断と責任において、以下を承諾のうえ利用するものとし、ユーザーに生じたいかなる損失または損害についても、当社は一切の責任を負わないものとします。</p>
                <p></p>
                <ul>
                    <li>当社は、理由の如何を問わず、本サービスの利用または本サービスを利用できなかったことに関してユーザーに生じたいかなる損害についても、一切の責任を負いません。</li>
                    <li>当社は、本サービスの動作および使用機器の適合性について、一切保証しません。</li>
                    <li>当社は、本サービスの完全性、正確性、適法性、有用性、および本サービスの利用により取得された情報の正確性、妥当性、適法性、有用性、その他一切の事項について保証しません。</li>
                    <li>当社は、アクセス過多、その他予期せぬ原因による本サービスの表示速度の低下や障害等によって生じたいかなる損害についても、一切の責任を負いません。</li>
                    <li>当社は、本サービスの変更、中断、停止または終了によって生じたいかなる損害についても、一切の責任を負いません。</li>
                </ul>
                <p></p>
                <p><strong>9.準拠法</strong></p>
                <p></p>
                <p>本規約は、日本法に準拠し、日本法に基づいて解釈されます。</p>
                <p></p>
                <p><strong>10.専属的合意管轄裁判所</strong></p>
                <p></p>
                <p>本規約に関する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>

                <p></p>
                <p>附則</p>
                <p>2018年●月●日　制定</p>
            </div>

        </article>

    </main>
{% endblock %}